/* html,
body {
  height: 90%;
} */

.lead {
  font-size: calc(0.8rem + 0.4vw);
}

@media (min-width: 1200px) {
  .lead {
    font-size: calc(0.5rem + 0.4vw);
  }
}

/* X-Small devices (portrait phones, less than 576px) */

/* No media query for `xs` since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
/* @media (min-width: 576px) { ... } */

/* Medium devices (tablets, 768px and up) */
@media (min-width: 700px) {
  body
    > div.container-fluid.bg_image_1.text-light.gx-0
    > div
    > img.propitius-hotel-splash-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

/* Large devices (desktops, 992px and up) */
/* @media (min-width: 992px) { ... } */
/*
/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
