.lead {
  font-size: calc(0.8rem + 0.4vw);
}

@media (min-width: 1200px) {
  .lead {
    font-size: calc(0.5rem + 0.4vw);
  }
}

/* X-Small devices (portrait phones, less than 576px) */

/* No media query for `xs` since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
/* @media (min-width: 576px) { ... } */

/* Medium devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  #propitius-hotel-splash-img {
    height: 50vh;
    aspect-ratio: 30/16;
    display: block;
    margin: auto;
  }
}

/* Large devices (desktops, 992px and up) */
/* @media (min-width: 992px) { ... } */
/*
/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  #propitius-hotel-splash-img {
    max-width: 70vw;
  }
}
