:root {
  --dark-olive: #2e2f04;
  --dark-burgundy: #440313;
}

:target {
  scroll-margin-top: 10vh;
}

html,
body {
  font-family: athelas, serif;
  font-style: normal;
  font-weight: 400;
}

nav.navbar.navbar-dark {
  background-color: var(--dark-burgundy) !important;
}

.container-fluid.bg_image_1 {
  background-color: var(--dark-olive) !important;
}

/* X-Small devices (portrait phones, less than 576px) */
/* No media query for `xs` since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
/* @media (min-width: 576px) { ... } */

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .bg_image_1::after {
    background-image: url(../img/hotel-wallpaper-derivatives/hotel-wallpaper-900_x_900.jpg);
  }
}

/* Large devices (desktops, 992px and up) */
/* @media (min-width: 992px) { ... } */

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .bg_image_1::after {
    background-image: url(../img/hotel-wallpaper-derivatives/hotel-wallpaper-1800_x_1800.jpg);
  }
}
